*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: grid;
    grid-template-rows: 200px auto auto;
    background-color:black ;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
h1,h2 {
    margin: auto;
}
#container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    margin-bottom: 20px;
}
.box{
    background-color: #ffffff;
    border: 4px solid black;
    border-radius: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    transition: .5s;
}
#replay{
    margin: auto;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}
#ree{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: none
}
table,th,td{
    border: 2px solid white;
}

.box:hover{
    background-color: #413d3d;
    border: 4px solid black;
    border-radius: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}
.bo:hover{
    background-color: #413d3d;
    border: 4px solid black;
    border-radius: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}