/* for all */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-size: 16px;
}

/* animation for the 9 boxes */
.box0{animation: example 1s ease-in-out ;}
.box1{animation: example 1s ease-in-out ;}
.box2{animation: example 1s ease-in-out ;}
.box3{animation: example 1s ease-in-out ;}
.box4{animation: example 1s ease-in-out ;}
.box5{animation: example 1s ease-in-out ;}
.box6{animation: example 1s ease-in-out ;}
.box7{animation: example 1s ease-in-out ;}
.box8{animation: example 1s ease-in-out ;}

@keyframes example{
    from{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(00px);
    }
}
/* the style will applay the widthe of screen became less than 500px */
@media(width>500px){
    body{
        justify-content: space-between;
        padding-left: 10%;
    }
    #main-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        border-radius: 30px;
        grid-template-areas: 
            ".       nav        . "
            "score1 container  score2 "
            ".      restart         . ";
    }
    /* for body */
body{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color:rgb(204, 117, 38);
}
/* for the main container */
#main-container{
    background: rgb(180, 31, 31);
}
/* 1) navigation bar */
#nav{
    grid-area: nav;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0 20px 0; 
    justify-content: space-around;
    width: 100%;
    background-color:rgb(221, 80, 14);
    padding: 10px;
    border-radius: 20px;
}
ul li {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}
/* 2)score boxes */
#score1{
    grid-area: score1;
    width: 100px;
    height: 100px;
    border-radius: 0px 20px 20px 20px;
}
#score2{
    grid-area: score2;
    width: 100px;
    height: 100px;
    border-radius: 20px 0px 20px 20px ;
}
.score-box {
    background-color:rgb(236, 100, 8);
    color: white;
    padding: 10px;
    margin: 70% 20px  40% 20px;
    text-align: center;
    color: #000;
}
/* 3)restart and no.of games and replay*/
#restart{
    grid-area: restart;
    display: flex;
}
#replay,#no-of_games {
    background-color:rgb(221, 80, 14);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin:20px 0  30px 10%;
    display: flex;
}
#logo2 {
    margin-top: 20px;
    text-align: right;
    color: #e76f51;
}
h1{
    font-size: 70px;
}

/* 4)game container */
#container{
    background-color: rgb(216, 170, 137);
    display: grid;
    grid-template-columns: 92px 92px 92px;
    grid-template-rows: 92px 92px 92px;
    gap: 10px;
    grid-area: container;
    margin: 10px 20px 10px 20px;
    padding: 13px;
    border-radius: 20px;
}
.box{
    background-color:rgb(158, 57, 0);
    border-radius: 30px;
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    font-weight: 300;
    padding: 4%;
}
#logo1{
    display: none;
}

#menu{
    display: none;
}
}
.loader {
    border: 3px solid rgb(216, 170, 137); /* Light grey */
    border-top: 3px solid rgb(158, 57, 0); /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 3px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media(width<500px){
    
    #logo2{
        display: none;
    }
    #nav{
        display: none;
    }
    body{
        height:100vh;
        background-color:rgb(204, 117, 38);
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "navigation logo1"
        "maincontainer maincontainer";
    }
    #menu{
        grid-area: navigation;
       padding: 20px;
       width:40px;
    }
    #logo1{
        grid-area: logo1;
        text-align: right;
        padding: 10px 0px 0px 10px;
        width:300px;
        height:50px;
    }
    #main-container{
        grid-area: maincontainer;
        background: rgb(180, 31, 31);
        display: grid;
        border-radius: 20px 20px 0 0;        
        grid-template-columns: auto auto;
        grid-template-rows: .4fr .4fr .2fr;
        margin-top: 0px;
        grid-template-areas: 
            "score1    score2 "
            "container container "
            "restart   restart ";
        
    }
    #score1{
        grid-area: score1;
    }
    #score2{
        grid-area: score2;
    }
    .score-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color:rgb(236, 100, 8);
        font-weight: 600;
        text-align: center;
        color: #000;
        border-radius: 10px;
        margin: 30px 5px 5px 10px;
    }
 
    #container{
        background-color: rgb(216, 170, 137);
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
        gap: 10px;
        grid-area: container;
        margin: 10px auto 10px auto;
        padding: 13px;
        border-radius: 20px;
        height: 350px;
        width: 350px;
        
    }
    
    .box{
        background-color:rgb(158, 57, 0);
        border-radius: 30px;
        color: #ffffff;
        font-size: 65px;
        text-align: center;
        font-weight: 300;
        padding: 10px;
    }
    #restart{
        grid-area: restart;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #replay,#no-of_games {
        background-color:rgb(221, 80, 14);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
    }
}#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    
}

#popup-content {
    display: block;
    background-color:rgb(221, 80, 14);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#popup-content input{
    
    background-color:  rgb(216, 170, 137);
    border: none;
    padding: 3px;
    color:black;
}
#popup-content input:focus{
    outline: none; /* Remove the default focus outline */
    border-color: #ccc
}