*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: grid;
    grid-template-rows: 150px auto auto;
    background-color:rgb(37, 37, 37) ;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
h1,h2 {
    margin: auto;
}
#container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    margin-bottom: 20px;
}
.box{
    background-color: #ffffff;
    border: 4px solid rgb(37, 37, 37);
    border-radius: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    animation: example 1s;
    transition: 1s;
}
@keyframes example{
    from{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-200px);
        transform: all 1;
    }
    to{
        transform: rotate(180deg);
    }
}
#replay{
    margin: auto;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    
}
@keyframes replay{
    from{
        opacity: 0;
        filter: blur(5px);
    }
    to{
        opacity: 1;
    }
}
#ree{
    margin: auto;
    display: none;
    animation: replay 1s;
}
.box:hover{
    border: 2px solid #ffffff;
}

table {
    border: 2px solid #fff;
    border-collapse: collapse;
    margin: auto;
    background-color: #333;
    color: #fff;
    border-radius: 30px;
    overflow: hidden;
}

th, td {
    border: 2px solid #fff;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.2em;
    transition: .3s;
}

th {
    background-color: #444;
}

td.score {
    font-weight: bold;
    font-size: 1.5em;
}
#no{
    margin-bottom: 10px;
}
#footer{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}